.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
    font-weight: bold;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
    font-weight: bold;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
    font-weight: bold;
}

.blue {
    background-color: #6d85e0;
}

.blue-text {
    color: white;
    font-weight: bold;
}

.violet {
    background-color: darkviolet;
}

.violet-text {
    color: #cfdae0;
    font-weight: bold;
}